<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IRC - Login</title>

    <!-- CSS -->
    <link rel="stylesheet" href="static/CSS/Login/style.css">
</head>
<body>
    <!-- HTML -->
    <div id="login-container">
        <div id="login-double">
            <p>Name</p>
            <form onsubmit="sessionStorage.setItem('name', this.name.value)" action="" method="POST">
                <input name="name" type="text">
                <input type="submit" value="Accept">
            </form>
        </div>
    </div>

    <!-- JS -->
</body>
</html>
